
{% extends "on_line_store/main.html" %}

{% load static %}

{% block content %}
    <div class="store-row">
        <div class="store-col" title="Click to see detail">
            <img class="store-img" src="{% static 'on_line_store/images/shirt.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Shirt</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/headphones.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Headphones</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/shoes.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Shoes</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/watch.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Watch</h4>
                <button class="store-btn btn-1 ">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/shirt.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Shirt</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/watch.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Headphones</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/watch.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Shoes</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/watch.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Watch</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/shirt.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Shirt</h4>
                <button class="store-btn btn-1 ">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/headphones.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Headphones</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/shoes.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Shoes</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
        <div class="store-col">
            <img class="store-img" src="{% static 'on_line_store/images/watch.jpg' %}" alt="">
            <div class="store-product">
                <h4 class="store-product-title">Watch</h4>
                <button class="store-btn btn-1">Add to Cart</button>
                <a class="store-btn-view btn-1" type="button" href="#">View</a>
                <h4 class="store-product-price">$200</h4>
            </div>
        </div>
    </div>
{% endblock content %}
