{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>

        <nav class="navbar">
            <div class="brand-name"><a href="{% url 'store:home' %}">AiAi.com</a></div>
            <ul class="navitem-container">
                <li> <li class="item"><a href="{% url 'store:home' %}">Home</a></li></li>
                <li class="item">
                    <a href="{% url 'store:home' %}">Basket
                        <i class="fa fa-shopping-basket basket">
                            {% if user.is_authenticated %}
                            <small>{{ user.customer.total_items }}</small>
                            {% else %}
                            <small>0</small>
                            {% endif %}
                        </i>
                    </a>
                </li>
            </ul>
            <ul class="navitem-container">
                {% if user.is_authenticated %}
                <li class="item"><a href="{% url 'users:profile' %}">My Profile</a></li>
                <li class="item"><a href="{% url 'users:logout' %}">Logout</a></li>
                {% else %}
                <li class="item"><a href="{% url 'users:register' %}">Register</a></li>
                <li class="item"><a href="{% url 'users:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>
    <main>

        {% block content %}

        {% endblock content %}

    </main>


    <script type="text/javascript" src="{% static 'store/js/main.js' %}"></script>
</body>
</html>
