{% extends "store/base.html" %}


<title>
    {% block title %}
        {{ brand_name.capitalize}}
    {% endblock title %}
</title>


{% block content %}
    <div class="brand-name-items-row"> 
        <div class="brand-name-header-text-container">
            <h3 class="brand-name-title">{{ brand_name.capitalize }}</h3>
            <p class="brand-name-number-of-items-found">{{ products_len }} items found
                <span class="brand-name-click-image-for-detail">click image for detail</span>
            </p>
            <p class="brand-name-click-image-for-detail-mobile">click image for detail<p></p>
            <p class="brand-name-sort-by">Sort by:</p>
            <div class="brand-name-best-match-and-icons">
                <p class="brand-name-price-match">{{ choice }}</p>
                <i class="fa fa-chevron-down brand-name-price-match"></i>
                <i class="fa fa-chevron-up brand-name-price-match hide-brand-name-price-match"></i>
            </div>
            <!-- see js at the bottom -->
            <div class="brand-name-low-and-high">
                <a class="brand-name-best-match" href="{% url 'store:brand_name' product.pk %}?string=best_match">Best match</a>
                <a class="brand-name-price-high" href="{% url 'store:brand_name' product.pk %}?string=low_to_high">Price low to high</a>
                <a class="brand-name-price-low" href="{% url 'store:brand_name' product.pk %}?string=high_to_low">Price high to low</a>
            </div>
        </div>
        <div class="brand-name-items-col">
            {% for product in  products %}
                <div class="brand-name-product">
                    <a class="brand-name-product-content" title="Click to see detail" href="{% url 'store:product_detail' product.pk %}">
                        <img class="brand-name-product-img" src="{{ product.image.url }}" alt="">
                    </a>
                    <div class="brand-name-product-text-container">
                        <div id="{{ product.product_rating }}" class="brand-name-rating-i-icon">
                            <!-- <i class="fa fa-star"></i> from js -->
                            {% if product.productreview_set.count > 1 %}
                                <p class="brand-name-ratings-count">
                                    <small>({{ product.productreview_set.count }} reviews)</small>
                                </p>
                            {% else %}
                                <p class="brand-name-ratings-count">
                                    <small>({{ product.productreview_set.count }} review)</small>
                                </p>
                            {% endif %}
                        </div>
                        <p class="brand-name-product-name">{{ product.product_name }}</p>
                        <div class="brand-name-reviews-price">
                            <p class="brand-name-product-price">${{ product.price }}</p>
                            {% if product.productreview_set.all %}
                                <a class="brand-name-read-review" href="{% url 'store:read_review' product.pk %}">
                                    Read review
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="brand-name-rating-button-container">
                        <a class="brand-name-add-to-basket" type="button" href="{% url 'store:add_to_basket' product.pk %}">Add to basket</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        const brandNameBestMatchAndIcons = document.querySelector(".brand-name-best-match-and-icons")
        brandNameBestMatchAndIcons.addEventListener("click", function(){
            brandNameBestMatchAndIcons.nextElementSibling.classList.toggle("show-brand-name-low-and-high")
            const children = brandNameBestMatchAndIcons.children
            const items = [...children].slice(1, 3)
            items.forEach(function(item){
                if(item.classList.contains("hide-brand-name-price-match")){
                    item.classList.remove("hide-brand-name-price-match")
                }
                else{
                    item.classList.add("hide-brand-name-price-match")
                }
            })
        })

        ratings()
        function ratings(){
            let brandNameRatingsIcons = document.querySelectorAll(".brand-name-rating-i-icon")
            brandNameRatingsIcons.forEach(function(div){
                let ratings = parseInt(div.id)
                const pTag = div.children[0]
                if(ratings > 0){
                    for(i=0; i < ratings; i++){
                        const iElement = document.createElement("i")
                        iElement.className = "fa fa-star"
                        iElement.style.color = "rgb(253, 122, 0)"
                        div.appendChild(iElement).before(pTag)
                    }
                }
                else if( ratings == 0){
                    for(i=0; i < 5; i++){
                        const iElement = document.createElement("i")
                        iElement.className = "fa fa-star"
                        iElement.style.color = "rgb(220, 220, 220)"
                        div.appendChild(iElement).before(pTag)
                    }
                }
            })
        }

    </script>



{% endblock content %}