{% extends "store/base.html" %}


<title>
    {% block title %}
        {{ brand_name.capitalize}}
    {% endblock title %}
</title>


{% block content %}
    <div class="brand-name-items-row">
        <h2 class="brand-name-items-title">{{ brand_name.capitalize }}</h2>
        <div class="brand-name-items-col">
            {% for product in  products %}
            <div class="brand-name-item" title="click for detail">
                <a class="brand-name-item-content" href="{% url 'store:product_detail' product.pk %}">
                    <img class="brand-name-item-img" src="{{ product.image.url }}" alt="">
                    <p class="brand-name-item-name">{{ product.product_name|truncatechars:15 }}</p>
                    <p class="brand-name-item-price">${{ product.price }}<i class="fa fa-heart brand-name-item-heart-icon"><span>{{ product.times_ordered }}</span></i></p>
                </a>
                <a class="brand-name-item-add-to-basket" type="button" href="{% url 'store:add_to_basket' product.pk %}">Add to basket</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}