{% extends "store/base.html" %}

<title>
    {% block title %}
        AiAi.com
    {% endblock title %}
</title>


{% block content %}
    <div class="products">

        <div class="products-container">
            <h3 class="most-popular">Most Popular <small>{{ most_popular_len }} items found.</small></h3>
            <div class="product-container1">
                {% for product in most_popular %}
                    <div class="product">
                        <a class="product-content" title="Click to see detail" href="{% url 'store:product_detail' product.pk %}">
                            <img class="product-img" src="{{ product.image.url }}" alt="">
                            <div class="product-text-container">
                                <p class="product-name">{{ product.product_name|truncatechars:20 }}</p>
                                <p class="product-price">${{ product.price }}</p>
                                
                                {% if product.rating == 1 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 2 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 3 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 4 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 5 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 0 %}
                                    <div class="zero-rating-icon">
                                        <p>
                                            <small>No rating</small>
                                        </p>
                                        <p class="number-reviews">
                                            {% if product.productreview_set.count == 0 %}
                                                0 review
                                            {% elif product.productreview_set.count == 1 %}
                                                <a href="{% url 'store:read_review' product.pk %}">1 review</a>
                                            {% elif product.productreview_set.count > 1 %}
                                                <a href="{% url 'store:read_review' product.pk %}">
                                                    {{ product.productreview_set.count }} reviews
                                                </a>
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                        <a class="product-add-to-basket" type="button" href="{% url 'store:add_to_basket' product.pk %}">Add to basket</a>
                    </div>
                {% endfor %}
            </div>
            <i class="fa fa-chevron-left prev-btn1"></i>
            <i class="fa fa-chevron-right next-btn1"></i>
        </div>

        <div class="products-container">
            <h3 class="latest">Latest From Favorite Brands <small>{{latest_len }} items found.</small></h3>
            <div class="product-container2">
                {% for product in  latest %}
                    <div class="product">
                        <a class="product-content" title="Click to see detail" href="{% url 'store:product_detail' product.pk %}">
                            <img class="product-img" src="{{ product.image.url }}" alt="">
                            <div class="product-text-container">
                                <p class="product-name">{{ product.product_name|truncatechars:20 }}</p>
                                <p class="product-price">${{ product.price }}</p>
                                {% if product.rating == 1 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 2 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 3 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 4 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 5 %}
                                    <div class="rating-i-icon">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                        <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                            {% if product.productreview_set.count == 1 %}
                                                1 review
                                            {% elif product.productreview_set.count > 1 %}
                                                {{ product.productreview_set.count }} reviews
                                            {% endif %}
                                        </a>
                                    </div>
                                {% elif product.rating == 0 %}
                                    <div class="zero-rating-icon">
                                        <p>
                                            <small>No rating</small>
                                        </p>
                                        <p class="number-reviews">
                                            {% if product.productreview_set.count == 0 %}
                                                0 review
                                            {% elif product.productreview_set.count == 1 %}
                                                <a href="{% url 'store:read_review' product.pk %}">1 review</a>
                                            {% elif product.productreview_set.count > 1 %}
                                                <a href="{% url 'store:read_review' product.pk %}">
                                                    {{ product.productreview_set.count }} reviews
                                                </a>
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                        <a class="product-add-to-basket" type="button" href="{% url 'store:add_to_basket' product.pk %}">Add to basket</a>
                    </div>
                {% endfor %}
            </div>
            <i class="fa fa-chevron-left prev-btn2"></i>
            <i class="fa fa-chevron-right next-btn2"></i>
        </div>

        {% if user.is_authenticated %}
            {% if just_for_you %}
                <div class="products-container">
                    <h3 class="just_for_you">Just For You <small>{{ just_for_you_len }} items found.</small></h3>
                    <div class="product-container3">
                        {% for product in  just_for_you %}
                            <div class="product">
                                <a class="product-content" title="Click to see detail" href="{% url 'store:product_detail' product.pk %}">
                                    <img class="product-img" src="{{ product.image.url }}" alt="">
                                    <div class="product-text-container">
                                        <p class="product-name">{{ product.product_name|truncatechars:20 }}</p>
                                        <p class="product-price">${{ product.price }}</p>
                                        {% if product.rating == 1 %}
                                        <div class="rating-i-icon">
                                            <i class="fa fa-star"></i>
                                            <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                            <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                                {% if product.productreview_set.count == 1 %}
                                                    1 review
                                                {% elif product.productreview_set.count > 1 %}
                                                    {{ product.productreview_set.count }} reviews
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% elif product.rating == 2 %}
                                        <div class="rating-i-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                            <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                                {% if product.productreview_set.count == 1 %}
                                                    1 review
                                                {% elif product.productreview_set.count > 1 %}
                                                    {{ product.productreview_set.count }} reviews
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% elif product.rating == 3 %}
                                        <div class="rating-i-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                            <p>({{ product.productreview_set.count }})</p>
                                            <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                                {% if product.productreview_set.count == 1 %}
                                                    1 review
                                                {% elif product.productreview_set.count > 1 %}
                                                    {{ product.productreview_set.count }} reviews
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% elif product.rating == 4 %}
                                        <div class="rating-i-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                            <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                                {% if product.productreview_set.count == 1 %}
                                                    1 review
                                                {% elif product.productreview_set.count > 1 %}
                                                    {{ product.productreview_set.count }} reviews
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% elif product.rating == 5 %}
                                        <div class="rating-i-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <small>{{ product.productreview_set.count }} <i class="fa fa-user"></i></small>
                                            <a class="number-reviews" href="{% url 'store:read_review' product.pk %}">
                                                {% if product.productreview_set.count == 1 %}
                                                    1 review
                                                {% elif product.productreview_set.count > 1 %}
                                                    {{ product.productreview_set.count }} reviews
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% elif product.rating == 0 %}
                                            <div class="zero-rating-icon">
                                                <p>
                                                    <small>No rating</small>
                                                </p>
                                                <p class="number-reviews">
                                                    {% if product.productreview_set.count == 0 %}
                                                        0 review
                                                    {% elif product.productreview_set.count == 1 %}
                                                        <a href="{% url 'store:read_review' product.pk %}">1 review</a>
                                                    {% elif product.productreview_set.count > 1 %}
                                                        <a href="{% url 'store:read_review' product.pk %}">
                                                            {{ product.productreview_set.count }} reviews
                                                        </a>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                                <a class="product-add-to-basket" type="button" href="{% url 'store:add_to_basket' product.pk %}">Add to basket</a>
                            </div>
                        {% endfor %}
                    </div>
                    <i class="fa fa-chevron-left prev-btn3"></i>
                    <i class="fa fa-chevron-right next-btn3"></i>
                </div>
            {% endif %}
        {% endif %} 
        
    </div>
{% endblock content %}
