{% extends "store/base.html" %} 
{% load static %}

<title>
    {% block title %}
        My Basket
    {% endblock title %}
</title>

{% block content %}
    <div class="basket-main-container">
        <div class="my-basket">
            <h3 class="my-basket-title">MY Basket
                {% if baskets.count > 1 %}
                    <small>{{ baskets.count }} items found</small>
                {% elif baskets.count == 1 %}
                    <small>{{ baskets.count }} item found</small>
                {% endif %}
            </h3>
            {% for basket in baskets %}
                <div class="table-row" title="click image for detail">
                    <a class="my-basket-img" href="{% url 'store:product_detail' basket.product.pk %}">
                        <img src="{{ basket.product.image.url}}" alt="">
                    </a>
                    <div class="basket-text-wraper">
                        <p class="basket-product-name">{{ basket.product.product_name }}</p>
                        <p class="price">${{ basket.product.price }}</p>
                        <p class="basket-product-description">{{ basket.product.description }}</p>
                        <div class="basket-product-stock">
                            {% if basket.product.on_stock %}
                                <p class="in-stock">In stock</p>
                            {% else %}
                                <p class="in-stock">Out of stock</p>
                            {% endif %}
                        </div>
                        <div class="quantity">
                            <p class="num-of-item-txt">Quantity:</p>
                            <!-- <p class="num-of-item">{{ basket.quantity }}</p> -->
                            <div class="basket-quantity-buttons">
                                <a class="icon-plus icon" href="{% url 'store:add_item' basket.pk %}">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <p class="num-of-item">{{ basket.quantity }}</p>
                                <a class="icon-minus icon" href="{% url 'store:delete_item' basket.pk %}">
                                    <i class="fas fa-minus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="delete-basket-item">
                            <a class="icon-x" href="{% url 'store:delete_basket' basket.pk %}">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if baskets %}
            <div class="basket-total-wraper">
                <div class="basket-total">
                    <div class="basket-summary-text-container">
                        <h3 class="summary-title">
                            Order Summary
                        </h3>
                        <p class="total-items">
                            Total Items:
                            <span>{{ user.customer.total_items }}</span>
                        </p>
                        <p class="amount-due">
                            Amount Due:
                            <span>${{ total_amount_due }}</span>
                            <!-- coming from context_processors.py -->
                        </p>
                        <div class="basket-buttons-container">
                            <a class="checkout-button" type="button" href="{% url 'store:shipping_address' %}">
                                Checkout
                            </a>
                            <a class="continue-shopping-button" type="button" href="{% url 'store:home' %}">
                                Continue shopping
                            </a>
                        </div>
                    </div>
                    <div class='pay-pal-img' title='click for more info about "no paypal account needed" '>
                        <a href="https://www.paypal.com/us/webapps/mpp/account-optional">
                            <img src="{% static 'store/images/paypal_button.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="you-may-also-like">
                    <div class="also-like-title">
                        <h3>You may also like</h3>
                    </div>
                    <!-- coming from my_basket function -->
                    {% for product in new_products %}
                        <div class="also-like-item-container">
                            <a class="also-like-item" href="{% url 'store:product_detail' product.pk %}" title="click for detail">
                                <img src="{{ product.image.url }}" alt="">
                            </a>
                            <div class="star-ratings-icons">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <p>
                                    <small>( {{ product.productreview_set.count }} )</small>
                                </p>
                            </div>
                            <div class="also-like-text-container">
                                <p class="also-like-product-name">{{ product.product_name }}</p>
                                <p class="also-like-product-price">${{ product.price }}</p>
                                {% if product.productreview_set.count %}
                                    <a  class="my-orders-read-review" href="{% url 'store:read_review' product.pk %}">Read review</a>
                                {% else %}
                                    <p class="my-orders-no-review">No review</p>
                                {% endif %}
                            </div>
                            <a class="also-like-product-btn" href="{% url 'store:add_to_basket' product.pk %}" type=button>Add to basket</a>
                        </div>
                        <script type="text/javascript">
                            ratings()
                            function ratings(){
                                let starRatingsIcons = document.querySelectorAll(".star-ratings-icons")
                                let ratings = parseInt("{{ product.product_rating }}")
                                if(ratings > 0){
                                    starRatingsIcons.forEach(function(container){
                                        let children = [...container.children]
                                        let new_children = children.slice(0, ratings)
                                        new_children.forEach(function(star){
                                            star.style.color = "rgb(253, 122, 0)"
                                        })
                                    })
                                }
                            }
                        </script>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
