{% extends "store/base.html" %}
{% load static %}

<title>
    {% block title %}
        My Basket
    {% endblock title %}
</title>

{% block content %}
    <div class="my-order-main-container">
        <h3 class="my-order-header">My Order History</h3>
        <div class="my-orders">
            {% if not orders and not closed_orders %}
                <p style=" margin-top: 0.5rem; color: rgb(41, 41, 41)">
                    You do not have any orders.
                </p>
            {% endif %}
            {% if orders %}
                <h4 class="open-orders-title">Pending Order
                    {% if orders.count > 1 %}
                    <small>{{ orders.count }} items found</small>
                    {% elif orders.count == 1 %}
                    <small>{{ orders.count }} item found</small>
                    {% endif %}
                </h4>
                {% for order in orders %}
                    <div class="order-row" title="Click image for detail">
                        <a  class="order-img" href="{% url 'store:product_detail' order.basket.product.pk %}">
                            <img src="{{ order.basket.product.image.url}}" alt="">
                        </a>
                        <div class="order-text-wraper">
                            <div class="order-product-name">
                                <p>{{ order.basket.product.product_name }}</p>
                            </div>
                            <div class="order-price">
                                <p>${{ order.basket.product.price}}</p>
                            </div>
                            <div class="my-order-detail">
                                <p>Status: open</p>
                                <p> Ordered date: {{ order.date_ordered|date:"N, d, Y" }}</p>
                            </div>
                            <!-- for small screen -->
                            <div class="my-order-detail-text">
                                <p>See order detail</p>
                                <div class="order-price-mobile">
                                    <p class="small-text">
                                        <small class="small1">Status: open</small>
                                        <small class="small2">Ordered date:<span>{{ order.date_ordered|date:"N, d, Y" }}</span></small>
                                    </p>
                                </div>
                            </div>
                            <!-- end of small screen -->
                            <div class="order-quantity">
                                <p>Quantity:
                                    <span>{{ order.basket.quantity }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if closed_orders %}
                <h4 class="closed-orders-title">Complete Order 
                    {% if closed_orders.count > 1 %}
                    <small>{{ closed_orders.count }} items found</small>
                    {% elif closed_orders.count == 1 %}
                    <small>{{ closed_orders.count }} item found</small>
                    {% endif %}
                </h4>
                {% for order in closed_orders %}
                    <div class="order-row" title="Click image for detail">
                        <a href="{% url 'store:product_detail' order.basket.product.pk %}" class="order-img" >
                            <img src="{{ order.basket.product.image.url}}" alt="">
                        </a>
                        <div class="order-text-wraper">
                            <div class="order-product-name">
                                <p>{{ order.basket.product.product_name }}</p>
                            </div>
                            <div class="order-price">
                                <p>${{ order.basket.product.price}}</p>
                            </div>
                            <div class="my-order-detail">
                                <p>Status: closed</p>
                                <p>Payment received: {{ order.date_ordered|date:"N, d, Y" }}</p>
                            </div>
                            <!-- for small screen -->
                            <div class="my-order-detail-text">
                                <p>See order detail</p>
                                <div class="order-price-mobile">
                                    <p class="small-text">
                                        <small class="small1">Staus: closed</small>
                                        <small class="small2">Payment received:<span>{{ order.date_ordered|date:"N, d, Y" }}</span></small>
                                    </p>
                                </div>
                            </div>
                            <!-- end of small screen -->
                            <div class="order-quantity">
                                <p>Quantity:
                                    <span>{{ order.basket.quantity }}</span>
                                </p>
                            </div>
                            <a class="my-order-review-this-product" href="{% url 'store:product_review'  order.basket.product.pk %}">Review this product</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="my-order-total">
            {% if orders %}
                <div class="order-total-wraper">
                    <div class="order-total-text-container">
                        <h3 class="order-total">Pending Payment</h3>
                        <p class="order-total-items">
                            Total Item:<span>{{ total_items }}</span>
                        </p>
                        <p class="order-amount-due">
                            Amount Due:<span>${{ total_amount_due }}</span>
                        </p>
                        <div class="order-payment-button">
                            <a class="make-payment-button" href="{% url 'store:paypal_payment' %}" type="button">Make payment</a>
                        </div>
                    </div>
                    <div class='order-pay-pal-img' title='click for more info about "no paypal account needed" '>
                        <a href="https://www.paypal.com/us/webapps/mpp/account-optional">
                            <img src="{% static 'store/images/paypal_button.png' %}" alt="">
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="most-ordered-row">
                <div class="most-ordered-title">
                    <h3>Most Ordered Items</h3>
                </div>
                {% for product in popular %}
                    <div class="most-ordered-container" title="click image for detail">
                        <div class="most-ordered">
                            <a  class="most-ordered-product-detail" href="{% url 'store:product_detail' product.pk %}">
                                <img src="{{ product.image.url }}" alt="">
                            </a>
                            <div class="star-ratings-icons">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <p>
                                    <small>( {{ product.productreview_set.count }} )</small>
                                </p>
                            </div>
                            <div class="most-ordered-text-container">
                                <p class="most-ordered-product-name">{{ product.product_name }}</p>
                                <p class="most-ordered-product-price">${{ product.price }}</p>
                                {% if product.productreview_set.count %}
                                    <a  class="my-orders-read-review" href="{% url 'store:read_review' product.pk %}">Read review</a>
                                {% else %}
                                    <p class="my-orders-no-review">No review</p>
                                {% endif %}
                            </div>
                        </div>
                        <a class="most-ordered-product-btn" href="{% url 'store:add_to_basket' product.pk %}" type=button>Add to basket</a>
                    </div>
                    <script type="text/javascript">
                        ratings()
                        function ratings(){
                            let starRatingsIcons = document.querySelectorAll(".star-ratings-icons")
                            let ratings = parseInt("{{ product.product_rating }}")
                            if(ratings > 0){
                                starRatingsIcons.forEach(function(container){
                                    let children = [...container.children]
                                    let new_children = children.slice(0, ratings)
                                    new_children.forEach(function(star){
                                        star.style.color = "rgb(253, 122, 0)"
                                    })
                                })
                            }
                        }
                    </script>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}