{% extends "store/base.html" %}
{% load static %}

<title>
    {% block title %}
        My Basket
    {% endblock title %}
</title>

{% block content %}
    <div class="my-order-main-container">
        <h3 class="my-order-header">My Order History 
            <span>{{ orders.count }} pending, {{ closed_orders.count }} complete order(s) found</span>
        </h3>
        <div class="my-orders">
            {% for order in orders %}
                <div class="order-row" title="Click image for detail">
                    <a  class="order-img" href="{% url 'store:product_detail' order.basket.product.pk %}">
                        <img src="{{ order.basket.product.image.url}}" alt="">
                    </a>
                    <div class="order-text-wraper">
                        <a  class="order-img-small" href="{% url 'store:product_detail' order.basket.product.pk %}">
                            <img src="{{ order.basket.product.image.url}}" alt="">
                        </a>
                        <p class="order-product-name">{{ order.basket.product.product_name }}</p>
                        <p class="order-price">${{ order.basket.product.price}}</p>
                        <p class="my-order-detail">Status: open</p>
                        <p class="my-order-date"> Ordered on:
                            <span>{{ order.date_ordered|date:"N, d, Y" }}</span>
                        </p>
                        <p class="order-quantity">Quantity:
                            <span>{{ order.basket.quantity }}</span>
                        </p>
                    </div>
                </div>
            {% endfor %}
            {% for order in closed_orders %}
                <div class="order-row" title="Click image for detail">
                    <a class="order-img" href="{% url 'store:product_detail' order.basket.product.pk %}" class="order-img" >
                        <img src="{{ order.basket.product.image.url}}" alt="">
                    </a>
                    <div class="order-text-wraper">
                        <a class="order-img-small" href="{% url 'store:product_detail' order.basket.product.pk %}" class="order-img" >
                            <img src="{{ order.basket.product.image.url}}" alt="">
                        </a>
                        <p class="order-product-name">{{ order.basket.product.product_name }}</p>
                        <p class="order-price">${{ order.basket.product.price}}</p>
                        <p class="my-order-detail">Status: closed</p>
                        <p class="my-order-date">Finalized on:
                            <span>{{ order.date_ordered|date:"N, d, Y" }}</span>
                        </p>
                        <p class="order-quantity-mobile">Quantity:
                            <span>{{ order.basket.quantity }}</span>
                        </p>
                        <a class="my-order-review-mobile" href="{% url 'store:product_review'  order.basket.product.pk %}">
                            Review this product
                        </a>
                        <div class="review-product-and-detail">
                            <p class="order-quantity-closed">Quantity:
                                <span>{{ order.basket.quantity }}</span>
                            </p>
                            <a class="my-order-review-this-product" href="{% url 'store:product_review'  order.basket.product.pk %}">
                                Review this product
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="my-order-total">
            <h3 class="order-total">Pending Payment</h3>
            <div class="order-total-wraper">
                <div class="order-total-text-container">
                    <p class="order-total-items">
                        Total Item:<span>{{ total_items }}</span>
                    </p>
                    <p class="order-amount-due">
                        Amount Due:<span>${{ total_amount_due }}</span>
                    </p>
                    {% if orders %}
                        <div class="order-payment-button">
                            <a class="make-payment-button" href="{% url 'store:paypal_payment' %}" type="button">Make payment</a>
                            <a class="make-payment-cancel-button" href="{% url 'store:home' %}" type="button">Cancel</a>
                        </div>
                    {% else %}
                        <div class="order-payment-button">
                            <a class="make-payment-button" href="{% url 'store:paypal_payment' %}" type="button">No payment due</a>
                            <a class="make-payment-cancel-button" href="{% url 'store:home' %}" type="button">Cancel</a>
                        </div>
                    {% endif %}
                </div>
                <div class='order-pay-pal-img' title='click for more info about "no paypal account needed" '>
                    <a href="https://www.paypal.com/us/webapps/mpp/account-optional">
                        <img src="{% static 'store/images/paypal_button.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="most-ordered-row">
                <div class="most-ordered-title">
                    <h3>Most Ordered Items</h3>
                </div>
                {% for product in popular %}
                    <div class="most-ordered-container" title="click image for detail">
                        <div class="most-ordered">
                            <a  class="most-ordered-product-detail" href="{% url 'store:product_detail' product.pk %}">
                                <img src="{{ product.image.url }}" alt="">
                            </a>
                            <div id="{{ product.product_rating }}" class="star-ratings-icons">
                                <!-- <i fa fa-star></i> from js -->
                                <p>
                                    <small>( {{ product.productreview_set.count }} )</small>
                                </p>
                            </div>
                            <div class="most-ordered-text-container">
                                <p class="most-ordered-product-name">{{ product.product_name }}</p>
                                <p class="most-ordered-product-price">${{ product.price }}</p>
                                {% if product.productreview_set.count %}
                                    <a  class="my-orders-read-review" href="{% url 'store:read_review' product.pk %}">Read review</a>
                                {% else %}
                                    <p class="my-orders-no-review">No review</p>
                                {% endif %}
                            </div>
                        </div>
                        <a class="most-ordered-product-btn" href="{% url 'store:add_to_basket' product.pk %}" type=button>Add to basket</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        
        ratings()
        function ratings(){
            let starRatingsIcons = document.querySelectorAll(".star-ratings-icons")
            starRatingsIcons.forEach(function(div){
                let ratings = parseInt(div.id)
                const pTag = div.children[0]
                if(ratings > 0){
                    for(i=0; i < ratings; i++){
                        const iElement = document.createElement("i")
                        iElement.className = "fa fa-star"
                        iElement.style.color = "rgb(253, 122, 0)"
                        div.appendChild(iElement).before(pTag)
                    }
                }
                else if( ratings == 0){
                    for(i=0; i < 5; i++){
                        const iElement = document.createElement("i")
                        iElement.className = "fa fa-star"
                        iElement.style.color = "rgb(220, 220, 220)"
                        div.appendChild(iElement).before(pTag)
                    }
                }
            })
        }
    </script>
{% endblock content %}