{% extends "store/base.html" %}


<title>
    {% block title %}
        {{ user.username }}'s order complete
    {% endblock title %}
</title>

{% block content %}

<div class="order-complete-row">
    <div class="order-complete-col">
        <div class="order-complete-text">
            <p>Transaction has been completed successfully.</p>
            <p>Thank you for shopping at <span>AiAi.com</span>.</p>
        </div>
        <div class="order-complete-buttons">
            <a class="order-complete-continue" href="{% url 'store:home' %}">Continue shopping</a>
            <a class="order-complete-logout"href="{% url 'store:my_orders' %}">My Orders</a>
        </div>
    </div>
</div>
    
    
{% endblock content %}