{% extends "store/base.html" %}


<title>
    {% block title %}
        Make Payment
    {% endblock title %}
</title>



{% block content %}
<div class="paypal-payment-container">
    <div class="paypal-table-contents">
        <h3 class="payment-detail">Payment Detail</h3>
        <div class="paypal-table">
          <ul class="table-header">
              <li class="paypal-header-product">Product</li>
              <li class="paypal-header-quantity">Qty</li>
              <li class="paypal-header-price">Price</li>
          </ul>
          {% for order in orders %}
          <a class="table-data" href="{% url 'store:product_detail' order.basket.product.pk %}"  title="click for detail">
              <p class="paypal-product-name">{{ forloop.counter}}. {{ order.basket.product.product_name}}</p>
              <p class="paypal-product-quantity">{{ order.basket.quantity }}</p>
              <p class="paypal-product-price">${{ order.basket.product.price }}</p>
          </a>
          {% endfor %}
          <ul class="paypal-contents">
            <li class="paypal-sub-total">Subtotal</li>
            <li class="paypal-total-items">{{ total_items }}</li>
            <li class="paypal-total-amount-due">${{ total_amount_due }}</li>
          </ul>
        </div>
        <a class="pay-later-button" href="{% url 'store:home' %}" type="button">Pay later</a>
    </div>
    <div class="paypal-button-container">
        <h3 class="payment-options">Payment Options</h3>
        <div id="paypal-button-container"></div>
        <!-- div id  container from paypal -->
    </div>
</div>




<script src="https://www.paypal.com/sdk/js?client-id=AWlUTXJ5Tv8HK1umtqCGzuATd8KK_WknE4mfnJCmSRlXI75do9dbzbnE18fKUW0p5aVHWFK0ps8rVxwh&currency=USD&locale=en_US"></script>
<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: "{{ total_amount_due }}"
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name);
        let url = "{% url 'store:order_complete' %}"
        window.location.href = url
      });
    }
  }).render('#paypal-button-container');
</script>
{% endblock content %}

