{% extends "store/base.html" %}

<title>
    {% block title %} 
    {{ product.product_name }} Review 
    {% endblock title %} 
</title>


{% block content %}
    <div class="read-review-row">
        <div class="read-review-col">
            <div class="img-title-container">
                <div class="review-img">
                    <img src="{{ product.image.url }}" alt="product image">
                </div>
                <h3 class="read-review-title">{{ product.product_name }}</h3>
            </div>
            {% for review in reviews %}
                <div class="read-review-content-container">
                    <div class="read-review-user-img">
                        <img src="{{ review.author.name.profile.image.url }}" alt="">
                    </div>
                    <div class="review-text">
                        <!-- on mobile -->
                        <div class="review-mobile-img">
                            <img src="{{ review.author.name.profile.image.url }}" alt="">
                        </div>
                        <div class="review-mobile-text">
                            <p class="review-author-mobile">{{ review.author.name.username }}</p>
                            {% if product.rating == 1 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                </div>
                            {% elif product.rating == 2 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% elif product.rating == 3 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% elif product.rating == 4 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% elif product.rating == 5 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% endif %}
                            <p class="review-date-mobile">{{ review.date }}</p>
                        </div>
                        <p class="review-title-mobile">{{ review.review_title }}</p>
                        <p class="review-content-mobile"><small>{{ review.content }}</small></p>
                        <!-- end of on mobile -->
                        <p class="review-author">{{ review.author.name.username }}</p>
                        {% if product.rating == 1 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                            </div>
                        {% elif product.rating == 2 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        {% elif product.rating == 3 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        {% elif product.rating == 4 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        {% elif product.rating == 5 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        {% endif %}
                        <p class="review-date">{{ review.date }}</p>
                        <p class="review-title">{{ review.review_title }}</p>
                        <p class="review-content"><small>{{ review.content }}</small></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}