{% extends "store/base.html" %}

<title>
    {% block title %} 
    {{ product.product_name|truncatechars:17 }} Review 
    {% endblock title %} 
</title>


{% block content %}
    <div class="read-review-row">
        <div class="read-review-col">
            <div class="img-title-container">
                <div class="review-img">
                    <img src="{{ product.image.url }}" alt="product image">
                </div>
                <div class="review-img-text-content">
                    <h3 class="read-review-product-name">{{ product.product_name }}</h3>
                    <div class="read-review-rating-stars">
                        <!-- font-awesome icons from JS. See JS at the bottom. -->
                    </div>
                    <p class="read-review-product-price">${{ product.price }}
                        {% if product.on_stock %}
                            <small class="product-available">In stock</small>
                        {% else %}
                            <small class="product-outofstock">Out of stock</small>
                        {% endif %}
                    </p>
                    <p class="read-review-product-description">
                        <small>{{ product.description }}</small>
                    </p>
                    <a class="read-review-add-to-basket" type="button" href="{% url 'store:add_to_basket' product.pk %}">Add to basket</a>
                </div>
            </div>
            {% for review in reviews %}
                <div class="read-review-content-container">
                    <div class="read-review-user-img">
                        <img src="{{ review.author.name.profile.image.url }}" alt="">
                    </div>
                    <div class="review-text">
                        <!-- on mobile -->
                        <div class="review-mobile-img">
                            <img src="{{ review.author.name.profile.image.url }}" alt="">
                        </div>
                        <div class="review-mobile-text">
                            <p class="review-author-mobile">{{ review.author.name.username }}</p>
                            {% if review.review_rating == 1 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                </div>
                            {% elif review.review_rating == 2 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% elif review.review_rating == 3 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% elif review.review_rating == 4 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% elif review.review_rating == 5 %}
                                <div class="review-rating-mobile">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% endif %}
                            <p class="review-date-mobile">{{ review.date }}</p>
                        </div>
                        <p class="review-title-mobile">{{ review.review_title }}</p>
                        <p class="review-content-mobile"><small>{{ review.content }}</small></p>
                        <!-- end of on mobile -->
                        <p class="review-author">{{ review.author.name.username }}</p>
                        {% if review.review_rating == 1 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                            </div>
                        {% elif review.review_rating == 2 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        {% elif review.review_rating == 3 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        {% elif review.review_rating == 4 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        {% elif review.review_rating == 5 %}
                            <div class="review-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        {% endif %}
                        <p class="review-date">{{ review.date }}</p>
                        <p class="review-title">{{ review.review_title }}</p>
                        <p class="review-content"><small>{{ review.content }}</small></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>




    <script>
        
        const readReviewRatingStars = document.querySelector(".read-review-rating-stars")
        let numOfStars = "{{ product.product_rating }}"

        function addFontAwesomeStars(){
            for(i=0; i < numOfStars; i++){
                const fontAwesomeStar = document.createElement("i")
                fontAwesomeStar.className = "fa fa-star"
                readReviewRatingStars.appendChild(fontAwesomeStar) 
            }
        }
        addFontAwesomeStars()

    </script>
{% endblock content %}