{% extends "store/base.html" %}


<title>
    {% block title %}
        {{ sub_category.capitalize }}
    {% endblock title %}
</title>



{% block content %}
    <div class="sub-category-products-row">
        <div class="sub-category-header-text-container">
            <h3 class="sub-category-title">{{ sub_category.capitalize }}</h3>
            <p class="sub-category-number-of-items-found">{{ products_len }} items found</p>
            <p class="sub-category-sort-by">Sort by:</p>
            <div class="sub-category-best-match-and-icons">
                <p class="sub-category-price-match">{{ choice }}</p>
                <i class="fa fa-chevron-down show-sub-category-price-match"></i>
                <i class="fa fa-chevron-up hide-sub-category-price-match"></i>
            </div>
            <!-- see js at the bottom -->
            <div class="sub-category-low-and-high">
                <a class="sub-category-best-match" href="{% url 'store:sub_category' product.pk %}?string=best_match">Best match</a>
                <a class="sub-category-price-high" href="{% url 'store:sub_category' product.pk %}?string=low_to_high">Price low to high</a>
                <a class="sub-category-price-low" href="{% url 'store:sub_category' product.pk %}?string=high_to_low">Price high to low</a>
            </div>
        </div>
        <div class="sub-category-products-col">
            {% for product in  products %}
            <div class="sub-category-product">
                <a class="sub-category-product-content" title="Click to see detail" href="{% url 'store:product_detail' product.pk %}">
                    <img class="sub-category-product-img" src="{{ product.image.url }}" alt="">
                    <div class="sub-category-product-text-container">
                        <p class="sub-category-product-name">{{ product.product_name|truncatechars:20 }}</p>
                        <div class="sub-category-reviews-price">
                            <p class="sub-category-product-price">${{ product.price }}</p>
                            {% if product.productreview_set.all %}
                                <a class="sub-category-read-review" href="{% url 'store:read_review' product.pk %}">
                                    Read review
                                </a>
                            {% else %}
                                <p class="sub-category-no-review">
                                    (0 review)
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </a>
                <div class="sub-category-rating-button-container">
                    <div class="sub-category-ratings">
                        {% if product.product_rating == 1 %}
                            <div class="sub-category-rating-i-icon">
                                <i class="fa fa-star"></i>
                            </div>
                            {% if product.productreview_set.count > 1 %}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} reviews)</small>
                                </p>
                            {% else %}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} review)</small>
                                </p>
                            {% endif %}
                        {% elif product.product_rating == 2 %}
                            <div class="sub-category-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            {% if product.productreview_set.count > 1 %}
                                <p class="sub-category-ratings-count">
                                    ({{ product.productreview_set.count }} reviews)
                                </p>
                            {% else %}
                                <p class="sub-category-ratings-count">
                                    ({{ product.productreview_set.count }} review)
                                </p>
                            {% endif %}
                        {% elif product.product_rating == 3 %}
                            <div class="sub-category-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            {% if product.productreview_set.count > 1 %}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} reviews)</small>
                                </p>
                            {% else %}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} review)</small>
                                </p>
                            {% endif %}
                        {% elif product.product_rating == 4 %}
                            <div class="sub-category-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            {% if product.productreview_set.count > 1 %}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} reviews)</small>
                                </p>
                            {% else %}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} review)</small>
                                </p>
                            {% endif %}
                        {% elif product.product_rating == 5 %}
                            <div class="sub-category-rating-i-icon">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            {% if product.productreview_set.count > 1 %}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} reviews)</small>
                                </p>
                            {% else %}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} review)</small>
                                </p>
                            {% endif %}
                        {% elif product.product_rating == 0 %}
                            <div class="sub-category-no-rating">
                                <p>
                                    Not rated
                                </p>
                            {% if product.productreview_set.count > 1 %}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} reviews)</small>
                                </p>
                            {% elif product.productreview_set.count == 1%}
                                <p class="sub-category-ratings-count">
                                    <small>({{ product.productreview_set.count }} review)</small>
                                </p>
                            {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <a class="sub-category-add-to-basket" type="button" href="{% url 'store:add_to_basket' product.pk %}">Add to basket</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">

        const subCategoryMatchAndIcons = document.querySelectorAll(".sub-category-best-match-and-icons")

        subCategoryMatchAndIcons.forEach(function(container){
            container.addEventListener("click", function(event){
                event.currentTarget.nextElementSibling.classList.toggle("show-sub-category-low-and-high")
                const sibling = event.currentTarget.nextElementSibling
                if(sibling.classList.contains("show-sub-category-low-and-high")){
                    event.currentTarget.children[1].style.display = "none"
                    event.currentTarget.children[2].style.display = "block"
                }
                else{
                    event.currentTarget.children[1].style.display = "block"
                    event.currentTarget.children[2].style.display = "none"
                }
            })
        })
    

    </script>


{% endblock content %}