/* 
================
TABLE OF CONTENT
================
1.GLOBAL
2.MAIN.HTML
3.STORE.HTML
=======================
END OF TABLE OF CONTENT
=======================*/

/*
========
1.GLOBAL
========*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn-1 {
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
:root {

    /* text color */
    --text-light: rgb(255, 255, 255);
    --text-dark: rgb(31, 31, 31);
    --text-gray: rgb(151, 151, 151);
    --text-green: rgb(0, 155, 0);

    /* box shadow */
    --boxshadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.2);

    /* background color */
    --background-light: rgb(255, 255, 255);
    --background-gray: rgb(151, 151, 151);
    --background-green: rgb(0, 155, 0);
    
    
}   
/*
=============
END OF GLOBAL
=============*/


/*
===========
2.MAIN.HTML
===========*/

/* navbar */
.nav-bg {
    background: rgb(46, 86, 92);
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.brand .brand-name {
    color: var(--text-light)
}

.nav-item-container {
    display: flex;
    align-items: center;
}

.nav-item {
    color: var(--text-light);
    padding: 1rem 1rem;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out
    
}

.nav-item:hover {
    color: var(--text-gray);
}

.navbar-right {
    display: flex;
    align-items: center;
}

#cart-icon {
    width: 1.56rem;
}

#cart-total {
    align-self: flex-start;
    margin-top: 0.5rem;
    color: var(--text-light);
    font-size: 0.9rem;
    background: rgb(184, 63, 63);
    padding: 0.2rem 0.45rem;
    text-align: center;
    border-radius: 50%;
}
/* end of navbar */

/* .nav-img-slide {
    background: url("../images/img1.jpg");
    min-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */


/*
================
END OF MAIN.HTML
================*/

/* 
============
3.STORE.HTML
============ */

.store-row {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 9rem;
}

.store-col {
    flex: 0 0 20%;
    margin: 0.5rem;
    background: rgb(234, 251, 255);
    box-shadow: var(--boxshadow);
}

.store-img {
    width: 100%;
    height: auto;
    transition: all 1s linear;
}

.store-col:hover .store-img{
    transform: scale(1.2)
}

.store-product {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.store-product-title {
    color: var(--text-dark);
    flex: 0 0 100%
}

.store-btn {
    border: 1px solid var(--text-gray);
    background: var(--background-light);
    margin-top: 2rem;
    color: var(--text-dark);
    font-size: 0.8rem;
}
.store-btn:hover {
    background: var(--background-gray);
    color: var(--text-light);
    border: 1px solid var(--text-gray);
}

.store-btn-view {
    border: 1px solid var(--text-green);
    background: var(--background-light);
    margin: 2rem 0 0 0.5rem;
    color: var(--text-dark);
    font-size: 0.8rem;
}

.store-btn-view:hover {
    background: var(--text-green);
    color: rgb(255, 255, 255);
    border: 1px solid var(--text-green);
}

.store-product-price {
    padding: 0.4rem 0rem;
    color: var(--text-dark);
    margin-left: auto;
}

@media screen and (max-width: 1224px) {
    .store-row {
        margin: 0 6.5rem;
    }
}
@media screen and (max-width: 1156px) {
    .store-row {
        margin: 0 4.5rem;
    }
}
@media screen and (max-width: 1086px) {
    .store-row {
        margin: 0 2.5rem;
    }
}
@media screen and (max-width: 1020px) {
    .store-row {
        margin: 0 0.5rem;
    }
}
@media screen and (max-width: 958px) {
    .store-col {
        flex: 0 0 30%;
    }
}
@media screen and (max-width: 654px) {
    .store-col {
        flex: 0 0 45%;
    }
}
@media screen and (max-width: 434px) {
    .store-row {
        justify-content: center;
    }
    .store-col {
        flex: 0 0 90%;
    }
}
/* 
=================
END OF STORE.HTML
=================*/

/*
=========== 
4.CART.HTML
===========*/
.cart-container {
    display: flex;
    /* padding: 100px 0; */
    margin: 0 18rem;
    flex-wrap: wrap;
}

.cart-top-col {
    width: 100%;
    margin: 0.5rem;
}

.cart-header {
    text-align: center;
    color: var(--text-dark);
}

.cart-col {
    box-shadow: var(--boxshadow);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 1rem;
}

.cart-btn {
    border: 1px solid var(--text-gray);
    background: var(--background-light);
    color: var(--text-dark);
    font-size: 0.9rem;
    text-align: center;
    width: 9rem;
    
}

.cart-btn:hover {
    border: 1px solid var(--text-gray);
    color: var(--text-light);
    background: var(--background-gray)
}

.cart-text-contents {
    border-top: 1px solid rgb(231, 231, 231);
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.item, .total {
    flex: 1;
}
.check-out-btn {
    border: 1px solid var(--text-green);
    background: var(--background-light);
    font-size: 0.9rem;
    text-align: center;
    color: var(--text-dark);
}

.check-out-btn:hover {
    background: var(--background-green);
    border: 1px solid var(--text-green);
    color: var(--text-light)
}

/*
================
END OF CART.HTML
================*/