/* 
================
TABLE OF CONTENT
================

1.GLOBAL
2.MAIN.HTML
3.STORE.HTML
=======================
END OF TABLE OF CONTENT
=======================*/

/*
========
1.GLOBAL
========*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*
=============
END OF GLOBAL
=============*/


/*
===========
2.MAIN.HTML
===========*/

/* navbar */
.nav-bg {
    background: rgb(46, 86, 92);
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.brand .brand-name {
    color: rgb(255, 255, 255);
}

.nav-item-container {
    display: flex;
    align-items: center;
}

.nav-item {
    color: rgb(255, 255, 255);
    padding: 1rem 1rem;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out
    
}

.nav-item:hover {
    color: rgb(151, 151, 151);
}

.navbar-right {
    display: flex;
    align-items: center;
}

#cart-icon {
    width: 1.56rem;
}

#cart-total {
    align-self: flex-start;
    margin-top: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    background: rgb(184, 63, 63);
    padding: 0.2rem 0.45rem;
    text-align: center;
    border-radius: 50%;
}
/* end of navbar */

.nav-img-slide {
    background: url("../images/img1.jpg");
    min-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*
================
END OF MAIN.HTML
================*/

/* 
============
3.STORE.HTML
============ */

.store-row {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 8.5rem;
}

.store-col {
    flex: 0 0 20%;
    margin: 0.5rem;
    background: rgb(234, 251, 255);
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.2);
}

.store-img {
    width: 100%;
    height: auto;
    transition: all 1s linear;
}

.store-col:hover .store-img{
    transform: scale(1.2)
}

.store-product {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.store-product-title {
    color: rgb(31, 31, 31);
    flex: 0 0 100%
}

.store-btn {
    border: 1px solid rgb(190, 190, 190);
    background: white;
    outline: none;
    padding: 0.4rem 0.5rem;
    margin-top: 2rem;
    color: rgb(31, 31, 31);
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.store-btn:hover {
    background: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
}

.store-btn-view {
    border: 1px solid rgb(0, 155, 0);
    background: white;
    outline: none;
    padding: 0.4rem 0.5rem;
    margin: 2rem 0 0 0.5rem;
    cursor: pointer;
    color: rgb(31, 31, 31);
    font-size: 0.8rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.store-btn-view:hover {
    background: rgb(0, 155, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 155, 0);
}

.store-product-price {
    padding: 0.4rem 0rem; 
    margin-left: auto;
}

@media screen and (max-width: 1224px) {
    .store-row {
        margin: 0 6.5rem;
    }
}
@media screen and (max-width: 1156px) {
    .store-row {
        margin: 0 4.5rem;
    }
}
@media screen and (max-width: 1086px) {
    .store-row {
        margin: 0 2.5rem;
    }
}
@media screen and (max-width: 1020px) {
    .store-row {
        margin: 0 0.5rem;
    }
}
@media screen and (max-width: 958px) {
    .store-col {
        flex: 0 0 30%;
    }
}
@media screen and (max-width: 654px) {
    .store-col {
        flex: 0 0 45%;
    }
}
@media screen and (max-width: 434px) {
    .store-row {
        justify-content: center;
    }
    .store-col {
        flex: 0 0 90%;
    }
}
/* 
=================
END OF STORE.HTML
=================*/