/* 
================
TABLE OF CONTENT
================
1.GLOBAL
2.MAIN.HTML
3.STORE.HTML
=======================
END OF TABLE OF CONTENT
=======================*/

/*
========
1.GLOBAL
========*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn-1 {
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}



:root {

    /* text color */
    --text-light: rgb(255, 255, 255);
    --text-dark: rgb(31, 31, 31);
    --text-gray: rgb(151, 151, 151);
    --text-green: rgb(0, 155, 0);

    /* box shadow */
    --boxshadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.2);

    /* background color */
    --background-light: rgb(255, 255, 255);
    --background-gray: rgb(151, 151, 151);
    --background-green: rgb(0, 155, 0);
    
    
}   
/*
=============
END OF GLOBAL
=============*/


/*
===========
2.MAIN.HTML
===========*/

/* navbar */
.nav-bg {
    background: rgb(30, 55, 59);
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.brand .brand-name {
    color: var(--text-light)
}

.nav-item-container {
    display: flex;
    align-items: center;
}

.nav-item {
    color: var(--text-light);
    padding: 1rem 1rem;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out
    
}

.nav-item:hover {
    color: var(--text-gray);
}

.navbar-right {
    display: flex;
    align-items: center;
}

#cart-icon {
    width: 1.56rem;
}

#cart-total {
    align-self: flex-start;
    margin-top: 0.5rem;
    color: var(--text-light);
    font-size: 0.9rem;
    background: rgb(184, 63, 63);
    padding: 0.2rem 0.45rem;
    text-align: center;
    border-radius: 50%;
}
/* end of navbar */

/* .nav-img-slide {
    background: url("../images/img1.jpg");
    min-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */


/*
================
END OF MAIN.HTML
================*/

/* 
============
3.STORE.HTML
============ */

.store-row {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 9rem;
}

.store-col {
    flex: 0 0 20%;
    margin: 0.5rem;
    background: rgb(234, 251, 255);
    box-shadow: var(--boxshadow);
}

.store-img {
    width: 100%;
    height: auto;
    transition: all 1s linear;
}

.store-col:hover .store-img{
    transform: scale(1.2)
}

.store-product {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.store-product-title {
    color: var(--text-dark);
    flex: 0 0 100%
}

.store-btn {
    border: 1px solid var(--text-gray);
    background: var(--background-light);
    margin-top: 2rem;
    color: var(--text-dark);
    font-size: 0.8rem;
}
.store-btn:hover {
    background: var(--background-gray);
    color: var(--text-light);
    border: 1px solid var(--text-gray);
}

.store-btn-view {
    border: 1px solid var(--text-green);
    background: var(--background-light);
    margin: 2rem 0 0 0.5rem;
    color: var(--text-dark);
    font-size: 0.8rem;
}

.store-btn-view:hover {
    background: var(--text-green);
    color: rgb(255, 255, 255);
    border: 1px solid var(--text-green);
}

.store-product-price {
    padding: 0.4rem 0rem;
    color: var(--text-dark);
    margin-left: auto;
}

@media screen and (max-width: 1224px) {
    .store-row {
        margin: 0 6.5rem;
    }
}
@media screen and (max-width: 1156px) {
    .store-row {
        margin: 0 4.5rem;
    }
}
@media screen and (max-width: 1086px) {
    .store-row {
        margin: 0 2.5rem;
    }
}
@media screen and (max-width: 1020px) {
    .store-row {
        margin: 0 0.5rem;
    }
}
@media screen and (max-width: 958px) {
    .store-col {
        flex: 0 0 30%;
    }
}
@media screen and (max-width: 654px) {
    .store-col {
        flex: 0 0 45%;
    }
}
@media screen and (max-width: 434px) {
    .store-row {
        justify-content: center;
    }
    .store-col {
        flex: 0 0 90%;
    }
}
/* 
=================
END OF STORE.HTML
=================*/

/*
=========== 
4.CART.HTML
===========*/
.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-top-col {
    flex: 0 0 60%;
    margin: 0.5rem;
    margin-bottom: 0;
}

.cart-header {
    text-align: center;
    color: var(--text-dark);
}

.cart-top {
    box-shadow: var(--boxshadow);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 1rem;
}

.cart-btn {
    border: 1px solid rgb(21, 100, 112);
    background: rgb(21, 100, 112);
    color: var(--text-light);
    font-size: 0.9rem;
    text-align: center;
    width: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: background 0.2s ease-in-out,
    border 0.2s ease-in-out, color 0.2s ease-in-out;
}

.cart-btn i {
    margin-right: 0.2rem;
    font-size: 0.9rem;
    color: var(--text-light);
}

.cart-btn:hover {
    border: 1px solid rgb(12, 62, 70);
    color: var(--text-light);
    background: rgb(12, 62, 70)
}

.cart-text-contents {
    border-top: 1px solid rgb(231, 231, 231);
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cart-text-contents p {
    font-weight: bold;
}
.item {
    flex: 1;
}

.total {
    flex: 1;
}
.cart-text-contents strong {
    color: rgb(151, 76, 0);
    font-size: 1.1rem;
}

.check-out-btn {
    border: 1px solid rgb(21, 100, 112);
    background: var(--background-light);
    color: var(--text-dark);
    font-size: 0.9rem;
    text-align: center;
    transition: background 0.2s ease-in-out,
    border 0.2s ease-in-out, color 0.2s ease-in-out;
}

.check-out-btn:hover {
    border: 1px solid rgb(12, 62, 70);
    color: var(--text-light);
    background: rgb(12, 62, 70)
}

.cart-bottom-col {
    flex: 0 0 60%;
    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.cart-bottom {
    box-shadow: var(--boxshadow);
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    margin-top: 0;
    padding: 1rem;

}

.cart-product-img {
    flex: 0 0 20%;
    border: 1px solid rgb(231, 231, 231);
}

.cart-img {
    width: 100%;
    height: auto;
}

table {
    width: 80%;
}

table tr th{
    color: var(--text-dark);
}

table tr td {
    text-align: center;
    font-weight: lighter;
    padding: 0.5rem 0;
    color: rgb(151, 76, 0);
}

#quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.15rem 0;
}

#quantity .num-quanity {
    font-size: 1rem;
}

#quantity i {
    display: block;
    font-size: 1rem;
    color: rgb(12, 62, 70);
    cursor: pointer;
    margin: 0.5rem;
    margin-top: 0;
}

@media screen and (max-width: 916px) {
    .cart-top-col {
        flex: 0 0 70%;
    }

    .cart-bottom-col {
        flex: 0 0 70%;
    }
}

@media screen and (max-width: 750px) {
    .cart-top-col {
        flex: 0 0 80%;
    }

    .cart-bottom-col {
        flex: 0 0 80%;
    }
}

@media screen and (max-width: 670px) {
    .cart-top-col {
        flex: 0 0 90%;
    }

    .cart-text-contents p {
        font-size: 0.8rem;
    }

    .cart-text-contents strong {
        font-size: 0.8rem;
    }

    .check-out-btn {
        font-size: 0.8rem;
        padding: 0.2rem 0.3rem;
    }

    .cart-bottom-col {
        flex: 0 0 90%;
    }

    table tr th{
        font-size: 0.8rem;
        /* text-align: start; */
    }
    
    table tr td {
        font-size: 0.8rem;
    }

    #quantity i {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    .cart-top-col {
        flex: 0 0 95%;
    }

    .cart-bottom-col {
        flex: 0 0 95%;
    }

    table tr th{
        width: 20%;
    }
    
}
/*
================
END OF CART.HTML
================*/

/* 
=============
CHECKOUT.HTML
============= */
.check-out-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 11rem;
}

.check-out-container form {
    order: 1;
    flex: 0 0 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 1.5rem 1rem;
    margin: 0.5rem;
    box-shadow: var(--boxshadow);
}

.check-out-container form div {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.check-out-container form input {
    flex: 0 0 48%;
    width: 48%;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(128, 128, 128);
    margin: 0.2rem;
    cursor: pointer;
}

.check-out-container form p {
    border-bottom: 1px solid rgb(231, 231, 231);
    border-top: 1px solid rgb(231, 231, 231);
    color: rgb(151, 76, 0);
    padding: 2rem 0;
    flex: 0 0 100%
}

.input1 {
    margin-bottom: 2rem;
}

.input2 {
    margin-top: 2rem;
}

.input3 {
    margin-top: 0.5rem;
}
.check-out-btn2 {
    flex:  0 0 100%;
    background: rgb(21, 100, 112);
    border: 1px solid rgb(21, 100, 112);
    color: var(--text-light);
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    transition: background 0.2s ease-in-out,
    border 0.3s ease-in-out;
}

.check-out-btn2:hover {
    background: rgb(12, 62, 70);
    border: 1px solid rgb(12, 62, 70)
}

.pay-option {
    flex: 0 0 48%;
    order: 2;
    margin: 0.5rem;
    padding: 1.5rem 1rem;
    box-shadow: var(--boxshadow);
}
.pay-option-hidden {
    display: none;
}
.order-summary {
    flex: 0 0 48%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0.5rem;
    padding: 1.5rem 1rem;
    box-shadow: var(--boxshadow);
}

.back-to-cart-btn {
    border: 1px solid rgb(21, 100, 112);
    background: rgb(21, 100, 112);
    color: var(--text-light);
    font-size: 0.9rem;
    text-align: center;
    width: 8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: background 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.back-to-cart-btn:hover {
    background: rgb(12, 62, 70);
    border: 1px solid rgb(12, 62, 70)
    
}

.title-order-summary{
    flex: 0 0 100%;
    padding: 2rem 0;
    margin: 2rem 0;
    color: var(--text-dark);
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}

table {
    width: 100%
}

table th {
    text-align: center;
    font-weight: lighter;
    color: rgb(151, 76, 0) !important;
    width: 25%;
}

.cart-img1 {
    width: 100%;
    height: auto;
    border: 1px solid rgb(231, 231, 231)
}

.summary-text-container {
    color: var(--text-dark);
    margin-top: 1rem;
}

.summary-text-container h3 {
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 1270px) {
    .check-out-container {
        margin: 0 7rem;
    }
}
@media screen and (max-width: 1142px) {
    .check-out-container {
        margin: 0 4rem;
    }
}
@media screen and (max-width: 1046px) {
    .check-out-container {
        justify-content: center;
    }
     .check-out-container form {
        flex: 0 0 70%;
        order: 2;
    }

    .order-summary{
        flex: 0 0 70%;
        order: 0;
    }

    .pay-option {
        flex: 0 0 70%;
        order: 1;
    }

    .input3 {
        margin-top: 0;
    }
    
    .check-out-container form input {
        margin-bottom: 0.5rem;
    }

}
@media screen and (max-width: 758px) {
    .check-out-container form {
        flex: 0 0 80%;
    }

    .order-summary{
        flex: 0 0 80%;
    }
    .pay-option {
        flex: 0 0 80%;
    }
}
@media screen and (max-width: 680px) {
    .check-out-container {
        margin: 0 1rem;
    }
}
@media screen and (max-width: 584px) {
    .check-out-container form {
        flex: 0 0 90%;
    }
    .order-summary{
        flex: 0 0 90%;
    }
    .pay-option {
        flex: 0 0 90%;
    }
}
@media screen and (max-width: 522px) {
    .check-out-container form input {
        flex: 0 0 100%;
        
    }
}
@media screen and (max-width: 420px) {
    .check-out-container {
        margin: 0 0.5rem;
    }
    .check-out-container form {
        flex: 0 0 100%;
    }
    .order-summary{
        flex: 0 0 100%;
    }
    .pay-option {
        flex: 0 0 100%;
    }
}
/* 
====================
END OF CHECKOUT.HTML
==================== */