{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }} Profile</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div style="display: flex; justify-content: center;">
        <div style="flex: 0 0 50%; border: 1px solid gray;">
            <img src="{{ user.profile.image.url }}" width="100px" alt="profile image">
            <p>{{ user.username }}</p>
            <p>{{ user.email }}</p>
        </div>
    </div>
    {% else %}
    <div style="display: flex; justify-content: center;">
        <div style="flex: 0 0 50%; border: 1px solid gray;">
            <img src="{{ user.profile.image.url }}" width="100px" alt="profile image">
            <p>{{ message }}</p>
        </div>
    </div>
    {% endif %}
</body>
</html>
