 {% extends "onLineStore/main.html" %}

{% load static %}

{% block content %}



    <div class="cart-container">
        <div class="cart-top-col">
            <h2 class="cart-header">My Cart</h2>
            <div class="cart-top">
                <a href="{% url 'onLineStore:home' %}" class="cart-btn btn-1" type="button">
                    <i class="left-icon fa fa-arrow-left"></i>
                    Continue Shopping
                </a>
                <div class="cart-text-contents">
                    <p class="item">Total Item: <strong id="items">{{ totalItems }}</strong></p>
                    <p class="total">Amount Due: <strong>${{ amount_due }}</strong></p>
                    <a class="check-out-btn btn-1" href="{% url 'onLineStore:check_out' %}" >Check Out</a>
                </div>
            </div>
        </div>

        <div class="cart-bottom-col">
            {% for key, value in total.items %}
            <div class="cart-bottom">
                <div class="cart-product-img">
                    <img class="cart-img" src="{{ key.product.image.url }}" alt="">
                </div>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td id="product">{{ key.product }}</td>
                        <td id="price">{{ key.product.price }}</td>
                        <td id="quantity">{{ key.quantity }}
                            <small class="num-quanity"></small>
                            <div class="chevron-icons">
                                <a href="{% url 'onLineStore:add_item' key.pk %}">
                                    <i id="up-icon" class="fa fa-chevron-up"></i>
                                </a>
                                <a href="{% url 'onLineStore:delete_item' key.pk %}">
                                    <i id="down-icon" class="fas fa-chevron-down"></i>
                                </a>
                            </div>
                        </td>
                        <td id="total">${{ value }}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock content %}
