{% extends "onLineStore/main.html" %}
{% load crispy_forms_tags %}

{% block content %}
   <div class="check-out-container">
         <form action="" method="POST">
          <h4>Shipping Information</h4>
            {% csrf_token%}
            {{ form|crispy }}
             <button class="check-out-btn2 btn-1">Continue</button>
         </form>
         <div class="pay-option">
             <p>Paypal Options</p>
         </div>
         <div class="order-summary">
              <a href="{% url 'onLineStore:cart' %}" class="back-to-cart-btn btn-1" type="button">
                  <i class="left-icon fa fa-arrow-left"></i>
                  Back to Cart
              </a>
              <h2 class="title-order-summary">Order Summary</h2>
              {% for order in orders %}
              <table>
                  <tr>
                    <th>
                        <img class="cart-img1" src="{{ order.product.image.url }}" alt="">
                    </th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td>{{ order.product.name }}</td>
                    <td>${{ order.product.price }}</td>
                    <td>{{ order.quantity }}</td>
                  </tr>
              </table>
              {% endfor %}
              <div class="summary-text-container">
                  <h3>Total Items: {{ total_items }}</h3>
                  <h3>Amount Due: ${{ amount_due }}</h3>
              </div>
         </div>
   </div>
{% endblock content %}
