{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'onLineStore/css/main.css' %}">

    <title>
        {% block title %}
            AiAi.com
        {% endblock title %}
    </title>

</head>
<body>
    <header>
        <!-- navigation -->
        <nav class="nav-bg">
            <div class="slider">
                <div class="img-container">
                    <img class="img" src="{% static 'onLineStore/images/img1.jpg' %}" alt="">
                    <img class="img" src="{% static 'onLineStore/images/img2.jpg' %}" alt="">
                    <img class="img" src="{% static 'onLineStore/images/img3.jpg' %}" alt="">
                </div>
                <div class="img-container">
                    <img class="img" src="{% static 'onLineStore/images/img4.jpg' %}" alt="">
                    <img class="img" src="{% static 'onLineStore/images/img5.jpg' %}" alt="">
                    <img class="img" src="{% static 'onLineStore/images/img6.jpg' %}" alt="">
                </div>
                 <div class="buttons">
                    <button class="button prev-btn"><</button>
                    <button class="button next-btn">></button>
                </div>
                <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="nav-container">
                 <div class="brand">
                    <a class="brand-name" href="{% url 'onLineStore:home' %}">AiAi<span>.com</span></a>
                    <i class="fas fa-bars toggle-btn"></i>
                    <i class="fas fa-times close-btn"></i>
                </div>
                <div class="flex-container">
                    <div class="nav-item-container">
                        <a class="nav-item" href="{% url 'onLineStore:home' %}">Home</a>
                        <a class="nav-item" href="{% url 'onLineStore:cart' %}">My Cart</a>
                        <a class="nav-item" href="{% url 'onLineStore:check_out' %}">Check Out</a>
                    </div>

                    <div class="navbar-right">
                        {% if user.is_authenticated %}
                            <a class="nav-item" href="{% url 'users:profile'%}">My Info</a>
                            <a class="nav-item" href="{% url 'users:logout' %}">Log Out</a>
                            <a class="cart" href="{% url 'onLineStore:cart' %}">
                                <img id="cart-icon" src="{% static 'onLineStore/images/cart.png' %}" alt="">
                                <div class="cart-count">
                                    <p id="cart-total">{{ user.customer.quantity_ordered }}</p>
                                </div>
                            </a>
                        {% else %}
                            <a class="nav-item" href="{% url 'users:register' %}">Register</a>
                            <a class="nav-item" href="{% url 'users:login' %}">Login</a>
                            <a class="cart" href="{% url 'onLineStore:cart' %}">
                                <img id="cart-icon" src="{% static 'onLineStore/images/cart.png' %}" alt="">
                                <div class="cart-count">
                                    <p id="cart-total">0</p>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <!-- slide images -->
        <!-- <div class="slider">
            <div class="img-container">
                <img class="img" src="{% static 'onLineStore/images/img1.jpg' %}" alt="">
                <img class="img" src="{% static 'onLineStore/images/img2.jpg' %}" alt="">
                <img class="img" src="{% static 'onLineStore/images/img3.jpg' %}" alt="">
            </div>
            <div class="img-container">
                <img class="img" src="{% static 'onLineStore/images/img4.jpg' %}" alt="">
                <img class="img" src="{% static 'onLineStore/images/img5.jpg' %}" alt="">
                <img class="img" src="{% static 'onLineStore/images/img6.jpg' %}" alt="">
            </div>
             <div class="buttons">
                <button class="button prev-btn"><</button>
                <button class="button next-btn">></button>
            </div>
        </div> -->

    </header>
    <main>

        {% block content %}

        {% endblock content%}

    </main>
    <footer>

    </footer>

    <script type="text/javascript" src="{% static 'onLineStore/js/main.js' %}"></script>
</body>
</html>
