{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'onLineStore/css/main.css' %}">

    <title>
        {% block title %}
            AiAi.com
        {% endblock title %}
    </title>

</head>
<body>
    <header class="header-bg">
        <!-- navigation -->
        <nav class="nav-bg">
            <div class="nav-container">
                <div class="brand">
                   <a class="brand-name" href="{% url 'onLineStore:home' %}">AiAi<span>.com</span></a>
                   <i class="fas fa-bars toggle-btn"></i>
                   <i class="fas fa-times close-btn"></i>
               </div>
               <div class="flex-container">
                   <div class="nav-item-container">
                       <a class="nav-item" href="{% url 'onLineStore:home' %}">Home</a>
                       <a class="nav-item" href="{% url 'onLineStore:cart' %}">My Cart</a>
                       <a class="nav-item" href="{% url 'onLineStore:check_out' %}">Check Out</a>
                   </div>

                   <!-- nav right -->
                   <div class="navbar-right">
                       {% if user.is_authenticated %}
                           <a class="nav-item" href="{% url 'users:profile'%}">My Info</a>
                           <a class="nav-item" href="{% url 'users:logout' %}">Log Out</a>
                           <a class="cart" href="{% url 'onLineStore:cart' %}">
                               <img id="cart-icon" src="{% static 'onLineStore/images/cart.png' %}" alt="">
                               <div class="cart-count">
                                   <p id="cart-total">{{ user.customer.quantity_ordered }}</p>
                               </div>
                           </a>
                       {% else %}
                           <a class="nav-item" href="{% url 'users:register' %}">Register</a>
                           <a class="nav-item" href="{% url 'users:login' %}">Login</a>
                           <a class="cart" href="{% url 'onLineStore:cart' %}">
                               <img id="cart-icon" src="{% static 'onLineStore/images/cart.png' %}" alt="">
                               <div class="cart-count">
                                   <p id="cart-total">0</p>
                               </div>
                           </a>
                       {% endif %}
                   </div>
               </div>
           </div>
           <!-- end of nav right -->

            <!-- slide banner-->
            <div class="slider">
                <div class="img-container">
                    <img class="img" src="{% static 'onLineStore/images/img1.jpg' %}" alt="">
                    <img class="img" src="{% static 'onLineStore/images/img2.jpg' %}" alt="">
                    <img class="img" src="{% static 'onLineStore/images/img3.jpg' %}" alt="">
                </div>
                <div class="img-container">
                    <img class="img" src="{% static 'onLineStore/images/img4.jpg' %}" alt="">
                    <img class="img" src="{% static 'onLineStore/images/img5.jpg' %}" alt="">
                    <img class="img" src="{% static 'onLineStore/images/img6.jpg' %}" alt="">
                </div>
                 <div class="buttons">
                    <button class="button prev-btn"><</button>
                    <button class="button next-btn">></button>
                </div>
                <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
          <!-- end of slide banner-->

        </nav>
      <!-- end of nav -->
    </header>
    <main>
        <div class="sub-nav">
            <ul class="sub-nav-items">
                <li class="cat-btn">Category</li>
                <li><a href="#">Todday's Deals</a></li>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Sell</a></li>
            </ul>
        </div>
        <div class="main-content-container">
            {% block content %}

            {% endblock content%}
            <div class="category-bg">
                <div class="close-cat-btn">
                    <i class="fas fa-times"></i>
                </div>
                <ul class="category-container">
                    <li class="category">Electronics
                        <ul class="sub-category">
                            <li class="sub-cat-title">Smart Phone
                              <ul class="sub-sub-category">
                                <li class="item">Sam Sung</li>
                                <li class="item">Sonny</li>
                                <li class="item">LG</li>
                                <li class="item">Nokia</li>
                                <li class="item">Iphone</li>
                              </ul>
                            </li>
                            <li class="sub-cat-title">Television
                              <ul class="sub-sub-category">
                                <li>Sam Sung</li>
                                <li>Sonny</li>
                                <li>LG</li>
                                <li>Nokia</li>
                                <li>Apple</li>
                              </ul>
                            </li>
                            <li class="sub-cat-title">Desktop Computer
                              <ul class="sub-sub-category">
                                <li>Sam Sung</li>
                                <li>Sonny</li>
                                <li>LG</li>
                                <li>HP</li>
                                <li>Apple</li>
                              </ul>
                            </li>
                            <li class="sub-cat-title">Laptop Computer
                              <ul class="sub-sub-category">
                                <li>Sam Sung</li>
                                <li>Sonny</li>
                                <li>LG</li>
                                <li>HP</li>
                                <li>Apple</li>
                              </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="category">Fashion
                        <ul class="sub-category">
                            <li class="sub-cat-title">Wonmens' Clothes
                              <ul class="sub-sub-category">
                                <li>Spring</li>
                                <li>Summer</li>
                                <li>Winter</li>
                                <li>Casual</li>
                                <li>Special Event</li>
                              </ul>
                            </li>
                            <li class="sub-cat-title">Mens' Clothes
                              <ul class="sub-sub-category">
                                <li>Spring</li>
                                <li>Summer</li>
                                <li>Winter</li>
                                <li>Casual</li>
                                <li>Special Event</li>
                              </ul>
                            </li>
                            <li class="sub-cat-title">Kids' Clothes
                               <ul class="sub-sub-category">
                                <li>Spring</li>
                                <li>Summer</li>
                                <li>Winter</li>
                                <li>Casual</li>
                                <li>Special Event</li>
                              </ul>
                            </li>
                            <li class="sub-cat-title">Teens' Clothes
                              <ul class="sub-sub-category">
                                <li>Spring</li>
                                <li>Summer</li>
                                <li>Winter</li>
                                <li>Casual</li>
                                <li>Special Event</li>
                              </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="category">Outdoor
                        <ul class="sub-category">
                            <li>Smart Phone</li>
                            <li>Television</li>
                            <li>Desktop Computer</li>
                            <li>Laptop Computer</li>
                        </ul>
                    </li>
                    <li class="category">Pet Care
                        <ul class="sub-category">
                            <li>Smart Phone</li>
                            <li>Television</li>
                            <li>Desktop Computer</li>
                            <li>Laptop Computer</li>
                        </ul>
                    </li>
                    <li class="category">Kitchen Ware
                        <ul class="sub-category">
                            <li>Smart Phone</li>
                            <li>Television</li>
                            <li>Desktop Computer</li>
                            <li>Laptop Computer</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>

    </footer>

    <script type="text/javascript" src="{% static 'onLineStore/js/main.js' %}"></script>
</body>
</html>
