
{% extends "onLineStore/main.html" %}

{% load static %}

{% block content %}
    <div class="store-row">
       
            <div class="store-col" title="Click to see detail">
                <img class="store-img" src="#" alt="">
                <div class="store-product">
                    <h5 class="store-product-title"></h5>
                    <button class="store-btn btn-1">Add to Cart</button>
                    <a class="store-btn-view btn-1" type="button" href="#">View</a>
                    <h4 class="store-product-price"></h4>
                </div>
            </div>
      
    </div>
{% endblock content %}
