
{% extends "onLineStore/main.html" %}

{% load static %}

{% block content %}
    <!-- <div class="sub-nav">
        <ul class="sub-nav-items">
            <li class="cat-btn">Category</li>
            <li><a href="#">Todday's Deals</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Sell</a></li>
        </ul>
    </div> -->
    <div class="store-row">
            
        <div class="right-container">
        {% for product in products %}
            <div class="store-col" title="Click to see detail">
                <img class="store-img" src="{{ product.image.url }}" alt="">
                <div class="store-product">
                    <h5 class="store-product-title">{{ product.name }}</h5>
                    <a class="store-btn btn-1" type="button" href="{% url 'onLineStore:add_to_cart' product.id %}">Add to Cart</a>
                    <a class="store-btn-view btn-1" type="button" href="#">View</a>
                    <h4 class="store-product-price">${{ product.price }}</h4>
                </div>
            </div>
        {% endfor %}
        </div>
        <!-- <div class="category-bg">
            <div class="close-cat-btn">
                <i class="fas fa-times"></i>
            </div>
            <ul class="category-container">
                <li class="category">Electronics
                    <ul class="sub-categories">
                        <li>Smart Phone</li>
                        <li>Television</li>
                        <li>Desktop Computer</li>
                        <li>Laptop Computer</li>
                    </ul>
                </li>
                <li class="category">Fashion
                    <ul class="sub-categories">
                        <li>Smart Phone</li>
                        <li>Television</li>
                        <li>Desktop Computer</li>
                        <li>Laptop Computer</li>
                    </ul>
                </li>
                <li class="category">Outdoor
                    <ul class="sub-categories">
                        <li>Smart Phone</li>
                        <li>Television</li>
                        <li>Desktop Computer</li>
                        <li>Laptop Computer</li>
                    </ul>
                </li>
                <li class="category">Pet Care
                    <ul class="sub-categories">
                        <li>Smart Phone</li>
                        <li>Television</li>
                        <li>Desktop Computer</li>
                        <li>Laptop Computer</li>
                    </ul>
                </li>
                <li class="category">Kitchen Ware
                    <ul class="sub-categories">
                        <li>Smart Phone</li>
                        <li>Television</li>
                        <li>Desktop Computer</li>
                        <li>Laptop Computer</li>
                    </ul>
                </li>
            </ul>
        </div> -->
    </div>
{% endblock content %}
