* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/*
=========
base.html
=========*/

/* NAVBAR line 15-62*/

/* brand logo and hamburger button line 15-21*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: rgb(0, 51, 51);
    padding: 0.5rem 0;
}
.brand-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.brand {
    color: rgb(0, 201, 141);
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    border-radius: 40px;
    background: rgb(0, 89, 100);
}
.brand span {
    color: white;
    font-size: 1rem;
}
.bars-button {
    display: none;
    animation: pulse;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.3)
    }
    100%{
        transform: scale(1)
    }
}
/* end brand logo and hamburger button */

/* nav items line 22-52*/
.navitem-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.category {
    cursor: pointer;
}
.item {
    padding: 0.5rem 1rem;
    color: white;
    font-size: 0.9rem;
}
.item a {
    color: white;
    font-size: 0.9rem;
}
.basket {
    font-size: 1.2rem;
    position: relative;
}
.basket small {
    position: absolute;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    top:-8px;
    left: 15px
}
#accounts {
    position: relative;
    cursor: pointer;
}
.accounts {
    position: absolute;
    top: 35px;
    height: 0;
    overflow: hidden;
    background: white;
    z-index: 1;
    transition: height 0.15s linear;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#accounts:hover .accounts {
    height: 68px;
    transition: height 0.15s linear
}
.nav-drop {
    width: 100%;
    flex: 0 0 100%;
}
.nav-drop a {
    flex: 0 0 100%;
    color: rgb(29, 29, 29);
    padding: 0.5rem;
    display: block;
}
.nav-drop a:hover {
    background: rgb(1, 75, 75);
    color: rgb(255, 255, 255);
}
/* end of nav items  */

/* search line 54-60*/
.search-container {
    top: 65px;
    position: absolute;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    transition: all 0.15s ease-in-out;
    z-index: 1;
}
.show-search-container {
    height: 100px;
    transition: all 0.15s ease-in-out;
}
/* line 45 */
#search-button {
    cursor: pointer;
}
/* line 46 */
.search-button-icon {
    font-size: 1rem;
}
.search {
    background: rgb(199, 220, 223);
    padding: 1rem;
    display: flex;
    border-radius: 0.4rem;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    flex: 0 0 70%;
    color: rgb(0, 89, 100);
}
.search-input {
    font-size: 1rem;
    margin: 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(34, 34, 34);
}
::placeholder {
    color: rgb(34, 34, 34);
}
/* end of search */

/* slide banner line 64-88*/
.slide-container {
    position: relative;
}
.slide-image-container {
    display: flex;
    overflow-x: hidden;
    align-items: flex-start;
}
.slide-img {
    flex: 0 0 100%;
    /* display: flex; */
}
.slide-img img {
    width: 100%;
    height: 100%;
}
.prev-btn, .next-btn{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    top: 50%;
    text-align: center;
    transform: translatey(-50%);
    border-radius: 50%;
    display: none;
    cursor: pointer;
}
.next-btn {
    right: 10px;
}
.prev-btn {
    left: 10px;
}
.prev-btn i {
    padding: 0.9rem 0;
    margin-right: 0.2rem;
}
.next-btn i {
    padding: 0.9rem 0;
    margin-left: 0.2rem;
}
.slide-container:hover .next-btn{
    display: block;
}
.slide-container:hover .prev-btn{
    display: block;
}
.indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
.circle {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: rgb(167, 167, 167);
    margin: 0 0.2rem;
    cursor: pointer;
}
/* end of slide banner */

/* side-categories */
.secondary-menu {
    background: rgb(0, 70, 41);
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
.secondary-item-container {
    display: flex;
}
.secondary-item-container li {
    padding: 0 1rem;
    font-size: 0.95rem;
}
.secondary-item-container li a {
    color: white;
    font-size: 0.95rem;
}
.categories {
    position: absolute;
    height: 100%;
    left: -100%;
    top: 0;
    transition:left 0.4s ease-in-out;
}
.show-categories {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    left: 0%
}
.close-button {
    background: rgb(100, 100, 100);
    text-align: end;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.times-button {
    padding: 0.5rem 0.7rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: rgb(255, 0, 0);
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
@keyframes spin {
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(360deg)
    }
    100%{
        transform: rotate(0deg)
    }
}
.category-items {
    width: 15rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    background: rgb(230, 230, 230);
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.category-item {
    flex: 0 0  100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.category-link {
    color: black;
    display: block;
    padding: 0.5rem 0;
    padding-left: 2.5rem;
    text-transform: capitalize;
    font-size: 1.3rem;
    flex: 0 0 100%;
}
.category-link:hover {
    color: rgb(252, 252, 252);
    background: rgb(60, 60, 60);
}
.sub-category-items {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
}
.sub-category-item {
    flex: 0 0 100%;
}
.sub-category-link{
    color: black;
    display: block;
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 0.4rem 0;
    padding-left: 2.5rem;
}
.sub-category-link:hover{
    color: rgb(255, 255, 255);
    background: rgb(100, 100, 100);
}
/* end of side-categories */


@media screen and (max-width: 790px){
    .navbar {
        align-items: flex-start;
        justify-content: flex-start;
        background: transparent;
        padding: 0;
    }
    .brand-name {
        flex: 0 0 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background: rgb(0, 51, 51);
    }
    .bars-button {
        display: block;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }
    .navitem-container {
        background: rgba(0, 51, 51, 0.7);
        height: 0;
        overflow: hidden;
        width: 30%;
        flex: 0 0 30%;
        min-width: 200px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        z-index: 1;
        position: absolute;
        top: 65px;
        transition: height 0.25s linear
    }
    .show-navitem-container {
        height: 310px;
        transition: height 0.25s linear;
    }
    .item {
        padding: 1rem;
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
        flex: 0 0 100%;
        width: 100%;   
    }
    .item a {
        color: rgb(255, 255, 255);
    }
    .nav-drop a {
        color: rgb(36, 36, 36);
        font-size: 0.9rem;
        padding: 0.3rem;
    }
    .item:hover {
        background: rgb(0, 27, 27);
    }
    .accounts {
        left: 90px;
        bottom: 0;
        width: 100px;
    }
    #accounts:hover .accounts {
        height: 55px;
        transition: height 0.15s linear
    }
    .search-container {
        top: 0;
        position: absolute;
        height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 100%;
        width: 100%;
        overflow: hidden;
        padding: 0 1rem;
        transition: all 0.15s ease-in-out;
        z-index: 1;
        background: rgba(0, 20, 22, 0.9);
    }
    .search {
        background: rgb(199, 220, 223);
        padding: 0.7rem;
        display: flex;
        border-radius: 0.4rem;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        flex: 0 0 70%;
        color: rgb(0, 89, 100);
    }
    .show-search-container {
        height: 65px;
        transition: all 0.15s ease-in-out;
    }
    .search-box-close {
        flex: 0 0 10%;
        width: 10%;
        text-align: end;
    }
    .search-box-close i {
        font-size: 1.3rem;
        color: white;
        cursor: pointer;
        animation-name: spin;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-delay: 1.5s;
        animation-timing-function: linear;
    }
    @keyframes spin {
        0% {
            transform: rotate(360deg)
        }
        50% {
            transform: rotate(0deg)
        }
        100%{
            transform: rotate(-360deg)
        }
    }
}

/*
================
end of base.html
================*/

/*
=============
register.html
=============*/

.register-row {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container {
    /*flex: 0 0 30%;*/
    width: 400px;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid rgb(185, 185, 185);
}
.register-button {
    padding: 0.3rem 0.5rem;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(0, 128, 0);
    background: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.register-button:hover {
    background: rgb(0, 82, 0);
    border: 1px solid rgb(0, 82, 0);
}
.register-cancel {
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(129, 129, 129);
    background: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    display: inline-block;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.register-cancel:hover {
    color: rgb(255, 255, 255);
    background: rgb(92, 92, 92);
    border: 1px solid rgb(92, 92, 92);
}
.register-text {
    display: inline-block;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.register-login-link {
    display: inline-block;
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(0, 90, 0);
}
.register-login-link:hover {
    color: rgb(0, 90, 0);
}
/*
====================
end of register.html
====================*/

/*
==========
login.html
========== */

.login-row {
    display: flex;
    justify-content: center;
}
.login-container {
    flex: 0 0 30%;
    padding: 1rem;
    border: 1px solid rgb(185, 185, 185);
    margin-top: 5rem;
    border-radius: 20px;
}
.message-success {
    font-size: 0.9rem;
    color: green;
}
.login-title{
    flex: 0 0 100%;
    margin-bottom: 1rem;
}
.login-button {
    padding: 0.3rem 0.5rem;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(0, 128, 0);
    background: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.login-button:hover {
    background: rgb(0, 82, 0);
    border: 1px solid rgb(0, 82, 0);
}
.login-cancel {
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(129, 129, 129);
    background: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    display: inline-block;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.login-cancel:hover {
    color: rgb(255, 255, 255);
    background: rgb(92, 92, 92);
    border: 1px solid rgb(92, 92, 92);
}
.login-text {
    display: inline-block;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.login-register-link {
    display: inline-block;
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(0, 90, 0);
}
.login-register-link:hover {
    color: rgb(0, 90, 0);
}
/*
=================
end of login.html
================= */

/*
===========
logout.html
=========== */

.logout-row {
    display: flex;
    justify-content: center;
}
.logout-container {
    flex: 0 0 30%;
    padding: 1rem;
    margin-top: 5rem;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 20px;
}
.logout-login {
    padding: 0.3rem 0.5rem;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(0, 128, 0);
    background: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.logout-login:hover {
    background: rgb(0, 82, 0);
    border: 1px solid rgb(0, 82, 0);
}
.logout-cancel {
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(129, 129, 129);
    background: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    display: inline-block;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.logout-cancel:hover {
    color: rgb(255, 255, 255);
    background: rgb(92, 92, 92);
    border: 1px solid rgb(92, 92, 92);
}
/*
==================
end of logout.html
================== */

/*
============
profile.html
============*/

.profile-row {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container {
    flex: 0 0 30%;
    padding: 1rem;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 20px;
}
.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.profile-contents {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.profile-title{
    flex: 0 0 100%;
    margin-bottom: 1rem;
}
.profile-text {
    margin-left: 0.5rem;
}
.profile-text small {
    display: block;
}
.profile-button {
    padding: 0.3rem 0.5rem;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(0, 128, 0);
    background: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.profile-button:hover {
    background: rgb(0, 82, 0);
    border: 1px solid rgb(0, 82, 0);
}
.profile-cancel {
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(129, 129, 129);
    background: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    display: inline-block;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.profile-cancel:hover {
    color: rgb(255, 255, 255);
    background: rgb(92, 92, 92);
    border: 1px solid rgb(92, 92, 92);
}
/*
===================
end of profile.html
===================*/

/*
=========
home.html
========= */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-bottom: 2rem;
}
.products-container {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
}
.most-popular, .latest, .just_for_you {
    flex: 0 0 90%;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
    font-weight: normal;
    border-bottom: 1px solid rgb(212, 212, 212);
    /* border: 1px solid green; */
}
.product-container {
    flex: 0 0 90%;
    width: 90%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid green; */
}
.product-container:hover{
    overflow-x: auto;

}
.product {
    min-width: 215px;
    width: 215px;
    margin: 1rem 1.2rem 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px rgb(192, 192, 192);
    border: 1px solid rgb(219, 219, 219);
}
.product-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: black;
    overflow: wrap;
    white-space: normal;
}
.product-img {
    width:100%;
    /* width: 215px; */
    flex: 0 0 100%;
    height: auto;
    margin-bottom: 0.5rem;
    transition: transform 0.3s linear;
}
.product-img:hover {
    transform: scale(1.13)
}
.product-name {
    font-size: 0.9rem;
}
.product-price {
    color: green;
}
.product-description {
    color: rgb(100, 100, 100);
    margin-top: 0.5rem;
}
@media screen and (max-width: 450px) {
    .product-container {
        padding: 0 0.5rem;
        justify-content: flex-start;
    }
    .product {
        flex: 0 0 100%;
        width: 100%;
        min-width: 100%;
        
    }
}
/*
================
end of home.html
================ */

/*
===================
product_detail.html
===================*/

.product-detail {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.product-detail-container {
    padding: 1rem;
    margin-top: 2rem;
    flex: 0 0 30%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 3px rgb(192, 192, 192);
}
.product-detail-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(230, 230, 230);
}
.product-detail-name{
    flex: 0 0 100%;
    margin-bottom: 0.5rem;
}
.product-detail-price {
    font-size: 0.9rem;
    color: rgb(1, 128, 1);
}
.product-available {
    font-size: 0.9rem;
}
.product-outstock {
    font-size: 0.9rem;
}
.product-detail-description {
    flex: 0 0 100%;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: rgb(92, 92, 92);
}
.add-to-basket {
    flex: 0 0 100%;
    font-size: 0.9rem;
    border: 1px solid rgb(0, 128, 0);
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    text-align: center;
    background: rgb(0, 128, 0);
    color: white;
    border-radius: 5px;
    transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
}
.add-to-basket:hover {
    background: rgb(0, 66, 0);
    border: 1px solid rgb(0, 66, 0);
}
.continue-shopping {
    flex: 0 0 100%;
    font-size: 0.9rem;
    border: 1px solid rgb(128, 128, 128);
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    text-align: center;
    background: rgb(128, 128, 128);
    color: white;
    border-radius: 5px;
    transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
}
.continue-shopping:hover {
    background: rgb(59, 59, 59);
    border: 1px solid rgb(59, 59, 59);
}
/*
==========================
end of product_detail.html
==========================*/

/*
==============
my_basket.html
============== */
.basket-main-container {
    min-height: 100vh;
}
.my-basket {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid rgb(201, 201, 201);
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70%;
    border-radius: 10px;
}
.basket-continue-shopping {
    flex: 0 0 25%;
    width: 25%;
    margin-bottom: 1rem;
    background: rgb(0, 128, 0);
    border-radius: 5px;
    padding: 0.5rem 0;
    border: 1px solid rgb(0, 128, 0);
    color: white;
    text-align: center;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.basket-continue-shopping:hover {
    background: rgb(0, 58, 0);
    border: 1px solid rgb(0, 58, 0);
}
.my-basket-content {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.my-basket-img {
    flex: 0 0 20%;
    width: 20%;
    height: auto;
}
.basket-table {
    flex: 0 0 80%;
    width: 80%;
}
.table-row {
    display: flex;
    margin-bottom: 1rem;
}
.table-row2 {
    display: flex;
}
.table-text {
    text-align: center;
    flex: 1;
}
.basket-total {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.checkout-button {
    padding: 0.5rem 2rem;
    background: rgb(0, 128, 0);
    border-radius: 5px;
    border: 1px solid rgb(0, 128, 0);
    color: white;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.checkout-button:hover {
    background: rgb(0, 58, 0);
    border: 1px solid rgb(0, 58, 0);
}
.quantity {
    position: relative;
}
.icon-plus{
    position: absolute;
    display: block;
    right: 38%;
    top: -10px;
    color:rgb(1, 114, 1)
}
.icon-minus {
    position: absolute;
    display: block;
    right: 38%;
    bottom: -10px;
    color:rgb(1, 114, 1)
}
/*
=====================
end of my_basket.html
===================== */

/*
=====================
shipping_address.html
=====================*/

.address-row {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-title {
    margin-bottom: 1rem;
}
.address-container {
    flex: 0 0 30%;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    border: 1px solid rgb(185, 185, 185);
}
.address-button {
    padding: 0.3rem 0.5rem;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(0, 128, 0);
    background: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    margin-top: 0.7rem;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.address-button:hover {
    background: rgb(0, 82, 0);
    border: 1px solid rgb(0, 82, 0);
}
.address-cancel {
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(129, 129, 129);
    background: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
    margin-top: 0.7rem;
    border-radius: 5px;
    font-size: 0.9rem;
    display: inline-block;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.address-cancel:hover {
    color: rgb(255, 255, 255);
    background: rgb(92, 92, 92);
    border: 1px solid rgb(92, 92, 92);
}
/*
=============================
end of shinpping_address.html
=============================*/

/* 
=============
category.html
============= */

.category-products {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.category-product {
    flex: 0 0 20%;
    padding: 0.7rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px rgb(192, 192, 192);
}
.category-product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category-product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(230, 230, 230);
    transition: transform 0.35s linear;
}
.category-product-img:hover {
    transform: scale(1.2)
}
.category-product-name {
    font-size: 1rem;
    color: rgb(31, 31, 31);
}
.category-product-price {
    color: rgb(1, 128, 1);
}
.category-product-description{
    color: rgb(92, 92, 92);
    display: block;
    margin-top: 0.5rem;
    flex: 0 0 100%
}
/* 
====================
end of category.html
==================== */

/* 
====================
sub_category.html
==================== */
.sub-category-products {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.sub-category-product {
    flex: 0 0 20%;
    padding: 0.7rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px rgb(192, 192, 192);
}
.sub-category-product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sub-category-product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(230, 230, 230);
    transition: transform 0.35s linear;
}
.sub-category-product-img:hover {
    transform: scale(1.2)
}
.sub-category-product-name {
    font-size: 1rem;
    color: rgb(31, 31, 31);
}
.sub-category-product-price {
    color: rgb(1, 128, 1);
}
.sub-category-product-description{
    color: rgb(92, 92, 92);
    display: block;
    margin-top: 0.5rem;
    flex: 0 0 100%
}

/* 
========================
end of sub_category.html
======================== */

/*
============
payment.html
============ */
.make-payment-button {
    padding: 0.5rem 2rem;
    background: rgb(0, 128, 0);
    border-radius: 5px;
    border: 1px solid rgb(0, 128, 0);
    color: white;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.make-payment-button:hover {
    background: rgb(0, 82, 0);
    border: 1px solid rgb(0, 82, 0);
}
/* 
====================
end of payment.html 
====================*/

/* 
===================
paypal_payment.html
=================== */
.paypal-payment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}
.paypal-button-container {
    flex: 0 0 30%;
    border: 1px solid rgb(189, 189, 189);
    order: 2;
    margin: 1rem;
    padding: 1rem;
}
.paypal-table-contents {
    flex: 0 0 40%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(189, 189, 189);
}
.paypal-table {
    width: 100%;
}
.paypal-table tr th {
    text-align: start;
}
.paypal-contents {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(189, 189, 189);
}
.pay-later-button {
    padding: 0.5rem 2rem;
    background: rgb(0, 128, 0);
    border-radius: 5px;
    border: 1px solid rgb(0, 128, 0);
    color: white;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.pay-later-button:hover {
    background: rgb(0, 82, 0);
    border: 1px solid rgb(0, 82, 0);
}
/* 
==========================
end of paypal_payment.html
========================== */